<%= form_with(model: look) do |form| %>
  <% if look.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(look.errors.count, "error") %> prohibited this look from being saved:</h2>

      <ul>
        <% look.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :ocasiao %>
    <%= form.text_field :ocasiao %>
  </div>

  <div class="field">
    <%= form.label :calcado_id %>
    <%= form.text_field :calcado_id %>
  </div>

  <div class="field">
    <%= form.label :ativo %>
    <%= form.check_box :ativo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
