<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-11">
    <h1>Roupas</h1>
  </div>
  <div class="col-1 text-right">
    <%= link_to 'New', new_roupa_path, class:"btn btn-primary" %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo roupa</th>
      <th>Descricao</th>
      <th>Tamanho</th>
      <th>Marca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roupas.each do |roupa| %>
      <tr>
        <td><%= roupa.tipo_roupa %></td>
        <td><%= roupa.descricao %></td>
        <td><%= roupa.tamanho %></td>
        <td><%= roupa.marca %></td>
        <td><%= link_to 'Show', roupa %></td>
        <td><%= link_to 'Edit', edit_roupa_path(roupa) %></td>
        <td><%= link_to 'Destroy', roupa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>