<%= form_with(model: acessorio) do |form| %>
  <% if acessorio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acessorio.errors.count, "error") %> prohibited this acessorio from being saved:</h2>

      <ul>
        <% acessorio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :tipo_acessorio %>
    <%= form.text_field :tipo_acessorio %>
  </div>

  <div class="field">
    <%= form.label :tamanho %>
    <%= form.text_field :tamanho %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :ativo %>
    <%= form.check_box :ativo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
