<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-11">
    <h1>Acessorios</h1>
  </div>
  <div class="col-1 text-right">
    <%= link_to 'New', new_acessorio_path, class:"btn btn-primary" %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Tipo acessorio</th>
      <th>Tamanho</th>
      <th>Marca</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acessorios.each do |acessorio| %>
      <tr>
        <td><%= acessorio.descricao %></td>
        <td><%= acessorio.tipo_acessorio %></td>
        <td><%= acessorio.tamanho %></td>
        <td><%= acessorio.marca %></td>
        <td><%= acessorio.ativo %></td>
        <td><%= link_to 'Show', acessorio %></td>
        <td><%= link_to 'Edit', edit_acessorio_path(acessorio) %></td>
        <td><%= link_to 'Destroy', acessorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>