<p id="notice"><%= notice %></p>

<h1>Calcados</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Tipo calcado</th>
      <th>Tamanho</th>
      <th>Marca</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calcados.each do |calcado| %>
      <tr>
        <td><%= calcado.descricao %></td>
        <td><%= calcado.tipo_calcado %></td>
        <td><%= calcado.tamanho %></td>
        <td><%= calcado.marca %></td>
        <td><%= calcado.ativo %></td>
        <td><%= link_to 'Show', calcado %></td>
        <td><%= link_to 'Edit', edit_calcado_path(calcado) %></td>
        <td><%= link_to 'Destroy', calcado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calcado', new_calcado_path %>
